<div class="mypage-header">
  <%= image_tag 'header.jpg',style:"height:300px; width:100%; object-fit:cover;",alt:"ヘッダー画像です" %>
</div>

<div class="mypage-menu">
  <ul class="menu-itembox">
    <li class="menu-item">
      <span>投稿</span>
      <span class="item-value"><%=link_to "#{@user.pictures.count}", user_path(@user.id) %></span>
    </li>
    <li class="menu-item">
      <span>フォロー</span>
      <span class="item-value"><%=link_to "#{@user.followings.count}", follows_user_path(@user.id) %></span>
    </li>
    <li class="menu-item">
      <span>フォロワー</span>
      <span class="item-value"><%=link_to "#{@user.followers.count}", followers_user_path(@user.id) %></span>
    </li>
    <li class="menu-item">
      <span>いいね</span>
      <span class="item-value"><%=link_to "#{@favorite_pictures.count}", favorites_user_path(@user.id) %></span>
    </li>
       <li class="menu-item">
        <%= link_to "プロフィールを編集",edit_user_path, class: "btn btn-default",style:"margin-left:200px; color:#777; border-radius: 30px; position: relative; top:-11px;" %>
        </li>
  </ul>



</div>