<%= form_for(@user) do |f| %>
<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :gender %>
	<%= f.text_field :gender %>
</div>

<div class="field">
	<%= f.label :avatar_image %>
	<%= f.file_field :avatar_image,accept: 'image/jpeg,image/gif,image/png' %>
</div>

<div class="field">
	<%= f.label :introduce %>
	<%= f.text_area :introduce %>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
