<div class="container">
	<div class="row" style="margin-top: 70px;">
    	<div class="main col-md-offset-3 col-md-6">
    		<p id="notice" style="color: blue;"><%= notice %></p>
    		<%= render 'layouts/errors', obj: @user %>
    		<%= form_for(@user) do |f| %>
	    		<div class="panel panel-default">
	    			<div class="panel-heading"><span>プロフィール編集</span>
	    				<% if current_user == @user %>
      						<span class="dropdown" style="float: right;">
  								<button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fas fa-cog" style="color:gray;"></i></button>
    							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    								<li style="font-size: 12px;"><%= link_to "・アカウントを削除する", user_path(@user), method: :delete,"data-confirm" => "アカウントを削除すると復元は出来ません。本当にこのアカウントを削除してよろしいですか？OKボタンを押すと削除が確定されます。"%></li>
    							</ul>
      						</span>
      					<% end %>
	    			</div>
	    			<div class="panel-body">
						<div class="field">
							<%= f.label :ユーザネーム %><span style="color:gray;font-size:12px;"> （必須: 2〜20文字以内）</span>
							<%= f.text_field :name, class: "form-control" %>
						</div>
						<div class="field">
							<%= f.label :性別 %><span style="color:gray;font-size:12px;"> （任意）</span>
							<%= f.select :gender, [["男"], ["女"]],{include_blank: "指定なし"}, class: "form-control" %>
						</div>
						<div class="field">
							<%= f.label :プロフィール画像 %><span style="color:gray;font-size:12px;"> （任意）</span>
							<%= f.file_field :avatar_image,accept: 'image/jpeg,image/gif,image/png', class: "form-control" %>
						</div>
						<div class="field">
							<%= f.label :自己紹介 %><span style="color:gray;font-size:12px;">（任意）　<span id="introducelength">/300文字以内</span></span>
							<%= f.text_area :introduce , class: "form-control",rows: "7",onkeyup: "UserLength(value);"%>
						</div>
					</div>
	    		</div>
	    		<div class="actions row">
	    			<%= f.submit "変更を反映する", class: "btn col-md-offset-3 col-md-6",style: "background-color:black; color:white;" %>
	    		</div>
    		<% end %>
    	</div>
   	</div>
</div>
