
<h1>aaaaaaaaa</h1>
<% @pictures.each do |picture| %>

			<%= picture.user.name %>
			<%= picture.created_at %>
			<% if picture.image? %>
			    <%= link_to picture_path(picture.id),data: {"turbolinks" => false} do %>
			      <% if picture.image.file.content_type.include?('image/') %>
			    		<%= image_tag picture.image.url(:thumb),size: '200x200'%>
			  		<% else %>
			    		<%= video_tag picture.image.url,size: '200x200',controls: true, autobuffer: true %>
			  		<% end %>
			  	<% end %>
			  <% end %>
<!--
<%# end %> -->
<% end %>
