<%= render 'users/menu' %>
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <%= render 'users/profile' %>
            <% if current_user.try(:admin?) %>
            <%= link_to "管理画面", "/admin" %>
            <% end %>
        </div>
        <div class="col-xs-9">
            <div class="post-container">
                <% @pictures.each do |picture| %>
                    <div class="post-item">
                        <% if picture.image? %>
                            <% if picture.image.file.content_type.include?('image/') %>
                                <%= link_to picture_path(picture.id) do %>
                                    <%= image_tag picture.image.url(:thumb),size: '250x250' %>
                                <% end %>
                            <% else %>
                                <%= link_to picture_path(picture.id) do %>
                                    <%= video_tag picture.image.url,size: '250x250',controls: true, autobuffer: true %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <!-- JSファイルを呼び出し -->
                        <div class="fabo-style">
                            <div id="favo_buttons_<%= picture.id %>">
                                <!--  <%#= render partial: 'favorites/post', locals: { picture: picture} %> -->
                                <!-- 部分テンプレートで表示するとview表示が遅延していたので直接記入 -->
                                <% if picture.favorited_by?(current_user) %>
                                  <span style='color:gray;'><%=  time_ago_in_words(picture.created_at)%>前  </span>
                                    <%=link_to "/pictures/#{picture.id}/favorites", method: :delete,remote: true do %>
                                      <span class="icolor1"><i class="fas fa-heart fa-lg"></i>  <%= picture.favorites.count %></span>
                                  <% end %>
                                  <span style="color:gray;"><i class="far fa-comments fa-lg"></i>  <%= picture.comments.count %></span>
                                <% else %>
                                  <span style='color:gray;'><%=  time_ago_in_words(picture.created_at)%>前 </span>
                                    <%=link_to "/pictures/#{picture.id}/favorites", method: :post,remote: true do %>
                                      <span class="icolor0"><i class="far fa-heart fa-lg"></i>  <%= picture.favorites.count %></span>
                                    <% end %>
                                  <span style="color:gray;"><i class="far fa-comments fa-lg"></i>  <%= picture.comments.count %></span>
                                <% end %>
                                <!-- ここまで -->
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
