<!-- いいねしてくれたユーザ一覧　モーダル表示-->
<button type="button" id="btn1" data-toggle="modal" data-focus="true" data-target="#modal-favorite" style="background-color: #04ff00b5;color:white;padding:3px 10px;border-radius: 30px;float: right;position: relative;top: -10px;"><%= @favorites.count %>件のいいね!!</button>
<div class="modal fade" id="modal-favorite" tabindex="-1" role="dialog"style="margin-top: 70px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 5px; vertical-align: middle;text-align: center;">
        <h5><strong><%= @favorites.count %>件のいいね!!</strong><button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px;">&times;</button></h5>
      </div>
      <div class="modal-body" style="height:400px; overflow: scroll;">
        <div class="px-4 py-3">
          <% @favorites.each do |favorite| %>
            <div style="display:flex;">
              <%= link_to user_path(favorite.user_id) do %>
                <div style="width:80px;"><%= image_tag favorite.user.avatar_image.url,class: "avatar-image",size:'75x75' %></div>
              <% end %>
              <div style="width:380px;">
                <strong><%= favorite.user.name %></strong>
                <p style="font-size: 12px;"><%= favorite.user.introduce %></p>
              </div>
              <div style="padding-top:10px;">
                <% if current_user != favorite.user %>
                  <% if favorite.user.followed_by?(current_user) %>
                    <span class="following"><%=link_to "フォロー中", user_relationships_path(favorite.user.id), method: :delete,"data-confirm" => "本当にフォローを解除しますか？",style: "color:#fff;" %></span>
                  <% else %>
                    <span class="to-follow"><%=link_to "フォローする", user_relationships_path(favorite.user.id), method: :post %></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- いいねしてくれたユーザ一覧　モーダル表示-->
