<div class="picture-item">
	<div style="margin-bottom: -3px;"><span><%= picture.genre.name %></span></div>
	<% if picture.image? %>
    <%= link_to picture_path(picture.id),data: {"turbolinks" => false} do %>
      <% if picture.image.file.content_type.include?('image/') %>
    		<%= image_tag picture.image.url(:thumb),size: '200x200'%>
  		<% else %>
    		<%= video_tag picture.image.url,size: '200x200',controls: true, autobuffer: true %>
  		<% end %>
  	<% end %>
  <% end %>
  <div class="fabo-style">
      <div id="favo_buttons_<%= picture.id %>">
        <%= render partial: 'favorites/post', locals: { picture: picture} %>
      </div>
  </div>
</div>
