<div class="picture-container">
	<div class="saerch-flex">
		<div class="saerch-item">
			<%= link_to  request.path,data: {"turbolinks" => false} do %>
				<%= image_tag "newform.jpg",size: '200x110'%>
			<% end %>
		</div>
		<div class="saerch-item">
			<%= search_form_for(@search, method: :get)  do |f| %>
				<%= button_tag type: :submit do %>
					<%= f.hidden_field :genre_name_eq, value:"犬" %>
		   			<%= image_tag "inuform.jpg",size: '200x110'%>
		   		<% end %>
			<% end %>
		</div>
		<div class="saerch-item">
			<%= search_form_for(@search, method: :get)  do |f| %>
				<%= button_tag type: :submit do %>
					<%= f.hidden_field :genre_name_eq, value:"猫" %>
		   			<%= image_tag "nekoform.jpg",size: '200x110'%>
		   		<% end %>
			<% end %>
		</div>
		<div class="saerch-item">
			<%= search_form_for(@search, method: :get)  do |f| %>
				<%= button_tag type: :submit do %>
					<%= f.hidden_field :genre_name_eq, value:"インコ" %>
	   				<%= image_tag "inkoform.jpg",size: '200x110'%>
	   			<% end %>
			<% end %>
		</div>
	</div>
	<div id="pictures-flex">
		<%= render partial: 'picture', collection: @pictures %>

	</div>
			<div style="display: none;">
		<%= paginate @pictures %>
		</div>
</div>
<div class="page-load-status" style="display: none;text-align:center;">
	<div class="infinite-scroll-request">
		<%= image_tag "load.gif",size:'30x30' %>
	</div>
	<p class="infinite-scroll-last">これ以上投稿がありません</p>
	<p class="infinite-scroll-error">読み込むページがありません</p>
</div>