<h1>Pictures#new</h1>
<p>Find me in app/views/pictures/new.html.erb</p>
<%= form_for(@picture) do |f| %>
<%= f.text_field :title,placeholder: "タイトル" %>
<%= f.text_area :description,placeholder: "本文" %>
<%= f.collection_select(:genre_id, Genre.all, :id, :name) %>

<%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png,video/*' %>
<%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>

<%= form_for(@genre) do |f| %>
<%= f.text_field :name %>
<%= f.submit "ジャンル追加", class: "btn btn-primary" %>
<% end %>

<%= form_with model: @genre do |form| %>
<%= form.text_field :name %>
<%= form.submit "ジャンル追加", class: "btn btn-primary" %>
<% end %>

<!-- モーダル投稿機能 -->
<button type="button" data-toggle="modal" data-focus="true" data-target="#modal-option" class="btn execution-btn" style="width:130px;">新規投稿</button>
<div class="modal fade" id="modal-option" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">投稿フォーム</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="px-4 py-3">
          <%= form_for(@picture) do |f| %>
          <div class="form-group">
            <%= f.label :種類 %>
            <br>
            <%= f.collection_select(:genre_id, Genre.all, :id, :name) %>
          </div>
          <div class="form-group">
            <%= f.label :ペットor動物の画像や動画 %>
            <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png,video/*',class: "form-control",placeholder: "必須" %>
          </div>
          <div class="form-group">
            <%= f.label :タイトル %>
            <%= f.text_field :title,placeholder: "必須",class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :本文 %>
            <%= f.text_area :description,placeholder: "任意(xxx文字まで)",class: "form-control" %>
          </div>
            <%= f.submit "投稿する", class: "btn execution-btn form-control" %>
            <% end %>
      </div>

        </div>
      </div>
    </div>
  </div>
<!-- モーダル投稿機能 -->

<!-- jQuery使用 / 5MB以上のアップロード時にアラート -->
<script type="text/javascript">
$('#picture_image').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('最大サイズの5MBを超えています。小さいファイルで選択し直して下さい。');
  }
});
</script>

<!-- 仮作成 / 投稿機能確認用 -->
<% @pictures.each do |picture| %>
<p>
<%= picture.description %>
<%= link_to "削除", picture_path(picture.id), method: :delete,"data-confirm" => "本当に投稿を削除しますか？", class: "btn btn-danger" %>
</p>
<% if picture.image? %>
  <% if picture.image.file.content_type.include?('image/') %>
    <%= image_tag picture.image.url(:thumb),size: '250x250' %>
  <% else %>
    <%= video_tag picture.image.url,size: '250x250',
                  controls: true, autobuffer: true %>
  <% end %>
<% end %>
<!-- <%#= image_tag picture.image.url if picture.image %> -->
<% end %>